---
import { SITE_CONFIG } from '../config';

const { pathname } = Astro.url;
---

<header class="sticky-top bg-white border-bottom">
  <nav class="navbar navbar-expand-md navbar-light container py-2" data-bs-theme="light">
    <a href="/" class="navbar-brand fw-bold text-primary">
      {SITE_CONFIG.title}
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Basculer la navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto gap-2">
        {SITE_CONFIG.navigation.map((item) => (
          <li class="nav-item">
            <a
              href={item.href}
              class:list={['nav-link', { active: pathname === item.href }]}
            >
              {item.name}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </nav>
</header>
